# EditorConfig is awesome: https://EditorConfig.org
# Hint: Android Gradle root is under android_tv_frontend/
# Some scanners read comments from root files to determine nested project roots.

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{kt,kts,gradle}]
indent_size = 4
