<?xml version="1.0" encoding="utf-8"?>
<!-- PROJECT_ROOT_MARKER:ANDROID_GRADLE_ROOT (modules=:app,:list,:utilities, wrapper=../../gradlew) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.tv.TVApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.TV.NordDark"
        android:supportsRtl="true"
        android:banner="@drawable/banner_tv">

        <!-- Launcher: SplashActivity -->
        <activity
            android:name="com.example.tv.ui.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:banner="@drawable/banner_tv"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home screen -->
        <activity
            android:name="com.example.tv.ui.home.HomeActivity"
            android:exported="false"
            android:banner="@drawable/banner_tv"
            android:icon="@mipmap/ic_launcher" />

        <!-- Login -->
        <activity
            android:name="com.example.tv.ui.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- Existing Hello World page -->
        <activity
            android:name="com.example.tv.MainActivity"
            android:banner="@drawable/banner_tv"
            android:icon="@mipmap/ic_launcher"
            android:exported="false" />

        <!-- Content Info Screen -->
        <activity
            android:name="com.example.tv.ui.content.ContentInfoActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

    </application>
</manifest>
